In [27]:
import json
import csv
import pandas as pd
from konlpy.tag import Komoran
from konlpy.corpus import kolaw
from konlpy.tag import Okt
import nltk
from nltk import Text
from collections import Counter

data = pd.read_csv('FM_crawling_3.csv', engine = 'python')
data.values
values = "".join(str(i) for i in data.values)

#okt = Okt()''
komoran = Komoran() 

#total_morphs = okt.morphs(values)
total_morphs = komoran.morphs(values)

print("전체 형태소 개수: ")
print(len(total_morphs))

#nouns = okt.nouns(values)
nouns = komoran.nouns(values)
print("전체 명사 개수: ")
print(len(nouns))

nouns = [noun for noun in nouns if len(noun) >= 2]

bool_words = ['이랑', '사람', '생각', '정도', '얼굴', '섹스', '문제']

#unique_Nouns = set(nouns)
for word in nouns:
    if word in bool_words:
        while word in nouns: 
            nouns.remove(word)

word_cnt = Counter(nouns).most_common()
total_df = pd.DataFrame(word_cnt, columns = ['단어', '빈도수'])
total_df.head(10)

전체 형태소 개수:
18381
전체 명사 개수:
6440

    단어  빈도수
0   여자   41
1  아이유   38
2   남자   34
3   동생   24
4   이근   22
5   누나   21
6   수육   20
7   주작   17
8   새끼   17
9  일본인   16